body{
    background: #eee;
    margin: 0;
    min-width: 960px;
    width: 100%;
}

.topbar{
    padding: 40px;
    background: #fff;
    margin-bottom: 20px;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(179, 178, 178);

}

.namebar{
    padding: 20px;
    background: #2b9687;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 30px;
    height: 40px;
    text-align: center;
    z-index: 2;
}

.border-f{
    padding: 1px;
    background: #2b9687;
    position: relative;
    right: 21px;
    z-index: 3;
    height: 78.5px;
    bottom: 55px;
    width: 1px;
}


.navlinks{
    position: relative;
    padding: 30px 0px 30px 30px;
    bottom: 101px;
    float: right;
    left: 10px;
}

a{
    text-decoration: none;
    color: #999;
}

h1{
    color: #2b9687;
    padding-top: 20px;
    padding-left: 20px;
}

.overlord{
    background: #fff;
    width: 938px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 20px 0px;
    border: solid;
    border-color: rgb(216, 212, 212);
    border-width: 1px;
}

.mypic{
    width: 167px;
    height: auto;
    float: left;
    margin: 20px 20px 20px 0px;
    padding-left: 20px;
}

p{
    line-height: 2;
    padding-left: 20px;
}

.pstart{
    margin: 20px;
    position: relative;
}

.float-fix{
    clear: both;
}

/*there is an issue with positioning when
entering dev tools on chrome*/

.bottombar{
    background: rgb(92, 91, 91);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #eee;
    min-width: 960px;
    width: 100%;
    padding-top: 45px;
}

.greenbottom{
    background: #2b9687;
    padding: 5px 0px 5px 0px;
    position: absolute;
    top: 0;
    min-width: 960px;
    width: 100%;
}

.more-grey{
    border: none;
    height: 2px;
    color: rgb(179, 178, 178);
    background: rgb(179, 178, 178);
    margin-left: 20px;
}